/* Write your code here. */
body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}

.boxes-conatiner {
  background-color: #ffffff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}
@media screen and (min-height: 768px) {
  .title {
    font-size: 35px;
  }
}
.container {
  display: flex;
  width: 40%;
  max-width: 500px;
  flex-direction: column;
}

.box1 {
  background-color: #fbbf24;
  border-radius: 5px;
  height: 50px;
  width: 40px;
}
.message {
  color: #ffffff;
  font-family: "Bree Sherif";
  font-size: 20px;
  text-align: center;
}
.box2 {
  background-color: #38bdf8;
  border-radius: 5px;
  height: 80px;
  width: 50px;
}

.box3 {
  background-color: #ec4899;
  border-radius: 5px;
  height: 100px;
  width: 80px;
}
